<div class="buttons end">
  <%= link_to "My lists", root_path, class: "btn-black" %>
  <%= link_to "Back to lisk", lists_path(@list), class: "btn-black" %>
</div>

<div class="container">

  <h1>Create your bookmark</h1>

  <%= render 'form', list: @list, bookmark: @bookmark %>

</div>



