// Define variables for your color scheme

// For example:
$blue: #19699e;
$orange: #eb672b;

$white: white;
$red: #D90429;
$dark-blue: #284B63;
$light-blue: #C0E8F9;
$yellow: #FFC65A;
$apricot: #F6C5AF;
$green: #1B998B;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: #7eaca6;

