.banner {
  height: 40vh;
  position: top;
  background-size: cover;
  background-position: center;
  background-color: black;
  z-index: -2;

  h1 {
    color: $white;
    text-align: center;
    font-weight: 200;
    padding-top: 20%;
    z-index: 2;
  }
}

.home {
  background-image: asset-url('cinema.jpg');
}

.image {
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  z-index: -1;

  h1 {
    z-index: 2;
  }
}