a {
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.btn {
  text-decoration: none;
  background-color: $dark-blue;
  color: $white;
  padding: 15px;

  &:hover {
    background-color: $light-blue;
    text-decoration: none;
    color: $dark-blue;

  }

}

.btn-red-thin {
  color: $red;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  // border: 1px solid $red;

  &:hover {
    color: pink;
  }
}

.btn-black-thin {
  padding: 5px;
  border-radius: 4px;
  background-color: $gray;

  &:hover {
    background-color: $light-gray;
    color: $gray;
  }
}

.btn-black {
  padding: 5px;
  border-radius: 4px;
  color: $gray;

  &:hover {
    color: $medium-gray;
  }
}

.btn-green {
  background-color: $green;
  padding: 6px 16px;
  border-radius: 4px;
  
  &:hover {
    background-color: $light-green;
  }
}

.buttons {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background-color: white;

  a {
    margin: 1%;
    text-align: center;
    justify-content: center;
  }
}

.end {
  justify-content: flex-end;
}
