input {
  background-color: white;
  border: 1px solid $light-gray;
  border-radius: 8px;
  padding: 8px;

  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border-bottom: 1px solid #ddd;
	background: white;
	margin-bottom: 10px;
	height: 45px;
}

label {
  padding: 8px 8px;
  width: 20%;
  font-family: 'Open Sans Condensed', sans-serif;
}

input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
  width: 30%;
  justify-content: flex-end;
}

form {
	background-color: white;
}