.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-bottom: 20vh;
  grid-auto-rows: auto;
}

.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: start;
  justify-content: center;
  margin-bottom: 20vh;
  grid-auto-rows: auto;
}



@media (max-width: 992px) {
  .grid { grid-template-columns: 1fr 1fr; }
  .grid-two { grid-template-columns: 1fr; }
}

@media (max-width: 600px) {
  .grid { grid-template-columns: 1fr; }
}