.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: start;
  justify-content: center;
}